<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chat</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/chatting.css" rel="stylesheet">
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-fixed-top">
  				<div class="container-fluid">
    				<div class="navbar-header">
      					<a class="navbar-brand" href="">
      						<i class="fa fa-commenting" aria-hidden="true"></i>
      					</a>
      					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      					</button>
    				</div>
    				<div class="collapse navbar-collapse" id="navbar-collapse">
    					<form class="navbar-form navbar-left">
        					<div class="form-group">
        						<label for="yourId">Your id:</label>
          						<input type="text" id="yourId" class="form-control" placeholder="Your id here..." th:value="${userId}" disabled>
        					</div>
      					</form>
      					<ul class="nav navbar-nav pull-right">
      						<li th:if="${isAdmin}"><a href="./monitor">Monitor</a></li>
      						<li><a href="./">Exit</a></li>
      					</ul>
    				</div>
  				</div>
			</nav>
		</div>
	</div>
	<div class="row-custom">
		<div id="conversation">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<nav class="navbar navbar-default navbar-fixed-bottom">
  				<div class="container-fluid">
    				<div class="navbar-collapse" id="">
    					<form class="form-herizontal">
        					<div class="form-group">
        						<label for="message" class="col-sm-2">Message:</label>
        						<div class="col-sm-10">
        							<input type="text" id="message" class="form-control" placeholder="Message here..." onkeypress="keyPressListener(event)">
        							<button type="button" id="send" class="btn btn-default">Send</button>
        						</div>
        					</div>
        					
      					</form>
    				</div>
  				</div>
			</nav>
		</div>
	</div>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script th:inline="javascript">
	var stompClient = null;
	var userId = [[${userId}]];
	//console.log(userId);
	
	// init websocket
	var socket = new SockJS('/chat');
	stompClient = Stomp.over(socket);
	stompClient.connect({'userId': userId}, function(frame) {
	    //console.log('Connected: ' + frame);
	    stompClient.subscribe('/chatting/msg', function (resp) {
	    	var message = JSON.parse(resp.body);
	    	$('#conversation').append('<div class="boxText">'+message.msg+'</div>').scrollTop($('#conversation')[0].scrollHeight);
	    });
	    stompClient.subscribe('/user/queue/chat.message', function (resp) {
	    	var message = JSON.parse(resp.body);
	    	$('#conversation').append('<div style="background-color: red;" class="boxText">'+message.msg+'</div>').scrollTop($('#conversation')[0].scrollHeight);
	    });
	});
	
	$(function() {
		$("form").on('submit', function (e) {
	        e.preventDefault();
	    });
		
		$('#send').click(function() {
			stompClient.send("/app/typing", {}, JSON.stringify({'userId': userId, 'msg': $('#message').val()}));
			$('#message').val("").focus();
		});
	});
	
	function keyPressListener(e) {
		if (e.keyCode == 13) {
			$('#send').trigger('click');
		}
	}
	</script>
</body>
</html>
