<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chatting Room Monitor</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="row">
		<div class="col-md-12"><h1 th:text="'Hello, ' + ${session.userId} + '!'">hello, your name</h1></div>
	</div>
    <hr>
    <div class="row">
    	<div class="col-md-12">
    		<div class="table-responsive">
		    	<table class="table table-striped">
			    	<thead></thead>
			    	<tbody id="users"></tbody>
			    </table>
		    </div>
    	</div>
    </div>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
   	<script>
   		var socket = new SockJS('/chat');
		var stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame) {
	    	//console.log('Connected: ' + frame);
	    	stompClient.subscribe('/app/activeUsers', function (resp) {
	    		showActiveUsers(JSON.parse(resp.body));
	    	});
	    	stompClient.subscribe('/topic/activeUsers', function (resp) {
	    		showActiveUsers(JSON.parse(resp.body));
	    	});
		});
		
		function sayHello(sessionId) {
			if (stompClient) {
				stompClient.send('/app/chat.private.'+sessionId, {}, JSON.stringify({'userId': '', 'msg': 'hello, i\'m system manager.'}));
			}
		}
		function showActiveUsers(activeUsers) {
    		$('thead').empty()
    				.append('<tr>'+
    						'<th>#</th>'+
    						'<th colspan="2"><span class="badge">'+activeUsers.length+'</span> user(s)</th>'+
    						'</tr>');
    		$('#users').empty();
    		for (var i = 0, leng = activeUsers.length; i < leng; i++) {
    			var user = activeUsers[i];
    			$('#users').append('<tr data-userid="'+user.userId+'" data-sessionid="'+user.sessionId+'">'+
    					'<td>'+(i+1)+'</td>'+
    					'<td>'+user.userId+'</td>'+
    					'<td><button class="btn btn-default" onclick="sayHello(\''+user.sessionId+'\')">Say hello to '+user.userId+'</button></td>'+
    					'</tr>');
    		}
		}
   	</script>
</body>
</html>