<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Chatting room Monitor</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
   	<script>
   		var socket = new SockJS('/chat');
		var stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame) {
	    	console.log('Connected: ' + frame);
	    	stompClient.subscribe('/topic/activeUsers', function (resp) {
	    		//console.log(resp.body);
	    		var activeUsers = JSON.parse(resp.body);
	    		$('#users').empty();
	    		for (var i = 0, leng = activeUsers.length; i < leng; i++) {
	    			var user = activeUsers[i];
	    			$('#users').append('<tr data-userid="'+user.userId+'">'+
	    					'<td>'+user.sessionId+'</td>'+
	    					'<td>'+user.userId+'</td>'+
	    					'<td><button onclick="sayHello(\''+user.sessionId+'\')">Say hello to '+user.userId+'</button></td>'+
	    					'</tr>');
	    		}
	    	});
		});
		
		$(function() {
			$('#postHello').click(function() {
				$.ajax({
					url: './postHello',
					method: 'POST',
					cache: false,
					contentType: 'application/json; charset=UTF-8',
					dataType: 'json',
					data: JSON.stringify({'userId': $('#userId').val(), 'msg': 'hello to you'}),
					success: function(resp) {
						console.log(resp);
					}, 
					error: function(e) {
						console.log(e);
					}
				})
			});
		});
		
		function sayHello(sessionId) {
			if (stompClient) {
				stompClient.send('/app/chat.private.'+sessionId, {}, JSON.stringify({'userId': '', 'msg': 'hello, i\'m system manager.'}));
			}
		}
   	</script>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'">hello, your name</p>
    <table>
    	<tr>
    		<th>Book name</th>
    	</tr>
    	<tr th:each="book : ${books}">
    		<td th:text="${book}">book name</td>
    	</tr>
    </table>
    <hr>
    <table>
    	<thead></thead>
    	<tbody id="users"></tbody>
    </table>
</body>
</html>